<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>IPR Tom Martens - Webinterface</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset id="field1">
          <d>IPR Tom Martens</d>
          <form action="/time" method="post">
            <div class="form-style-1">
          <p> Time setting</p>
          <input name="timeInput" type="time" class="ghost-input" placeholder="Enter a value" required>
          <input type="submit" class="ghost-button" value="Update time setting">
        </form>
        <% if(newTime !== null){ %>
          <p>The set time is: <%= newTime %></p>
      <% } %>
    </div>
    <div class="form-style-1">
        <form action="/volume" method="post">
          <p> Volume setting</p>
          <input name="volume" type="number" min="0" max="16" class="ghost-input" placeholder="Enter a value" required>
          <input type="submit" class="ghost-button" value="Update volume setting">
        </form>
        <% if(volume !== null){ %>
            <p>The current volume is: <%= volume %></p>
        <% } %>
      </div>
      <div class="form-style-1">
        <form action="/standby" method="post">
          <p> Standby setting</p>
            <input name="standbyTime" type="number" min="0" max="11" class="ghost-input" placeholder="Enter a value" required>
            <input type="submit" class="ghost-button" value="Update standby time">
          </form>
          <% if(standbyTime !== null){ %>
              <p>The standby setting is: <%= standbyTime %></p>
          <% } %>
        </div>
        <div class="form-style-1">
          <form action="/date" method="post">
            <p> Date setting</p>
              <input name="dateInput" type="date" min="1970-01-01" class="ghost-input" placeholder="Enter a value" required>
              <input type="submit" class="ghost-button" value="Update date time">
            </form>
            <% if(newDate !== null){ %>
                <p>The date is: <%= newDate %></p>
            <% } %>
          </div>
          <div class="form-style-1">
            <form action="/alarm" method="post">
              <p> Alarm setting</p>
                <input name="alarmInput" type="time" class="ghost-input" placeholder="Enter a value" required>
                <input type="submit" class="ghost-button" value="Update alarm time">
              </form>
              <% if(alarm !== null){ %>
                  <p>The alarm is set on: <%= alarm %></p>
              <% } %>
            </div>
      </fieldset>
    </div>
  </body>
</html>